name: Check for typing/linting/formatting errors

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
          # This is important to fetch the changes to the previous commit
          fetch-depth: 0
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
      - name: Install dependencies
        run: pdm install -v
      - name: Check for formatting errors
        run: pdm run format-check
      - name: Check for linting errors
        run: pdm run lint-check
      - name: Check for type errors
        run: pdm run check-types

